@import "typography";
@import "mixins";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#content, #loading {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  background-color: white;
  overflow: hidden;
}

.hostName {
  display: block;
  color: rgba(0,0,0,.54);
  margin-left: 10px;
}

#loading {
  @include vertical-center();
  transition: opacity 0s;
  opacity: 1;
}

#loading.hidden {
  transition: opacity .2s;
  opacity: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul.imageList {
  overflow: hidden;

  .imageListItem {
    list-style-type: none;
    float: left;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    img {
      height: 120px;
      vertical-align: bottom;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-around;
}

.info {
  flex: 1;
  align-items: center;

  .section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}


.viewWrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}