body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
  line-height: 150%;
  font-size: 14px;
  color: rgba(0,0,0,.87);
}

#content, #loading {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  background-color: white;
}

.title {
  font-size: 20px;
  line-height: 150%;
}

.hostName {
  display: block;
  color: rgba(0,0,0,.54);
  margin-left: 10px;
}

#loading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0s;
  opacity: 1;
}

#loading.hidden {
  transition: opacity .2s;
  opacity: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul.imageList {
  overflow: hidden;

  .imageListItem {
    float: left;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    img {
      height: 80px;
    }
  }
}