.display3 {
  // color: rgba(0,0,0,.54);
  font-size: 56px;
  line-height: 70px;
}

.display2 {
  // color: rgba(0,0,0,.54);
  font-size: 45px;
  line-height: 48px;
}

.display1 {
  // color: rgba(0,0,0,.54);
  font-size: 34px;
  line-height: 40px;
}

.title {
  font-size: 20px;
  // color: rgba(0,0,0,.87);
  font-weight: 500;
}

.body {
  font-size: 16px;
  color: rgba(0,0,0,.87);
  // line-height: 20px;
  line-height:26px;
}

.subtext {
  font-size: 14px;
  color: rgba(0,0,0,.54);
  font-weight: 400;
}

.minitext {
  font-size: 11px;
  color: rgba(0,0,0,.54);
  line-height: 11px;
}

.thumbnail {
  img{
    height:90px;
    width:140px;
    border:0px solid #4682b4;
  }
}

body {
  @extend .body;

  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}