<div id="youtube" class="viewWrapper">
  <span class="title">{{title}}</span>

  <div class="flex info">
    <div class="section">
      <span class="title">{{description}}</span>
      <span class="text">Description</span>
    </div>
  </div>

</div>